/* about:newtab */

@-moz-document url("about:newtab"), url("about:home") {
    body {
        --newtab-background-color: var(--rouge-browser-before-load-background) !important;
        --newtab-background-color-secondary: var(--rouge-menu-background) !important;
        --newtab-primary-action-background: var(--rouge-accent) !important;
    }
}
