@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --rouge- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
    /* Browser area before a page starts loading */
    --rouge-browser-before-load-background: #172030;

    /* Accent */
    --rouge-accent-bg: #5e81ac;
    --rouge-accent: #6f8eb5;

    /* Toolbars */
    --rouge-toolbar-background: #172030;
    --rouge-toolbar-color: #d8dee9;
    --rouge-toolbar-border-color: #1f2a3f;
    --rouge-toolbar-icon-fill: #eeeeec;
    --rouge-inactive-toolbar-color: #1f2a3f;
    --rouge-inactive-toolbar-background: var(--rouge-toolbar-background);
    --rouge-inactive-toolbar-border-color: var(--rouge-toolbar-border-color);
    --rouge-inactive-toolbar-icon-fill: #1f2a3f;

    /* Sidebar */
    --rouge-sidebar-background: var(--rouge-toolbar-background);
    --rouge-inactive-sidebar-background: var(--rouge-sidebar-background);

    /* Menus */
    --rouge-menu-background: #1f2a3f;
    --rouge-menu-border-color: #172030;
    --rouge-menu-shadow: 0 1px 5px 1px rgba(0,0,0, .09), 0 2px 14px 3px rgba(0,0,0, .05);
    --rouge-menu-button-hover-background: var(--rouge-button-background);
    --rouge-menu-separator-color: rgba(216, 222, 233, .1);

    /* Header bar */
    --rouge-headerbar-background: #172030;
    --rouge-headerbar-border-color: var(--rouge-toolbar-border-color);
    --rouge-inactive-headerbar-background: var(--rouge-inactive-toolbar-background);
    --rouge-inactive-headerbar-border-color: var(--rouge-inactive-toolbar-border-color);

    /* Buttons */
    --rouge-button-background: rgba(216, 222, 233, .1);
    --rouge-button-hover-background: rgba(216, 222, 233, .15);
    --rouge-button-active-background: rgba(216, 222, 233, .3);
    --rouge-button-flat-hover-background: rgba(216, 222, 233, .07);
    --rouge-button-flat-active-background: rgba(216, 222, 233, .1);
    --rouge-button-suggested-action-background: var(--rouge-accent-bg);
    --rouge-button-destructive-action-background: #c6797e;

    --rouge-button-close-background: var(--rouge-button-flat-hover-background);
    --rouge-button-hover-close-background:var(--rouge-button-hover-background);
    --rouge-button-active-close-background: var(--rouge-button-active-background);

    /* Entries */
    --rouge-entry-background: rgba(216, 222, 233, .1);
    --rouge-entry-color: #d8dee9;
    --rouge-inactive-entry-color: #d6d6d6;
    --rouge-focused-urlbar-border-color: rgba(120, 174, 237, .5); /* Same as --rouge-accent but with opacity*/

    /* Switch */
    --rouge-switch-background: rgba(216, 222, 233, .15);
    --rouge-switch-slider-background: #d2d2d2;
    --rouge-switch-active-background: var(--rouge-accent-bg);
    --rouge-switch-active-slider-background: #d8dee9;

    /* Tabs */
    --rouge-tabbar-background: var(--rouge-headerbar-background);
    --rouge-tabbar-tab-separator-color: rgba(216, 222, 233, .15);
    --rouge-tabbar-tab-hover-background: #172030; /* Hardcoded color */
    --rouge-tabbar-tab-active-background: #1f2a3f; /* Hardcoded color */
    --rouge-tabbar-tab-active-background-contrast: #FAFAFA;
    --rouge-tabbar-tab-active-hover-background: #1f2a3f; /* Hardcoded color */
    --rouge-inactive-tabbar-background: var(--rouge-inactive-headerbar-background);
    --rouge-inactive-tabbar-tab-hover-background: #1f2a3f; /* Hardcoded color */
    --rouge-inactive-tabbar-tab-active-background: #1f2a3f; /* Hardcoded color */
    --rouge-tab-button-background: rgba(0, 0, 0, .5);
    --rouge-tab-button-hover-background: rgba(0, 0, 0, .6);
    --rouge-tabbar-tab-identity-base-opacity: 0;
}

/* Private window colors */
:root {
    --rouge-private-accent: #71A1DB;

    /* Toolbars */
    --rouge-private-toolbar-background: #1C2438;
    --rouge-private-inactive-toolbar-background: var(--rouge-private-toolbar-background);
    /* Menus */
    --rouge-private-menu-background: #252F49;
    /* Header bar */
    --rouge-private-headerbar-background: #252F49;
    --rouge-private-inactive-headerbar-background: var(--rouge-private-toolbar-background);

    /* Text color for Firefox Logo in new private tab */
    --rouge-private-wordmark: #FBFBFE;

    /* New private tab background */
    --rouge-private-in-content-page-background: #1C2438;

    /* Private browsing info box */
    --rouge-private-text-primary-color: #FBFBFE;
}
