/* Header bar */
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Headerbar */
#nav-bar {
	padding: 6px 3px !important;
}

/* Headerbar CSD colors */
:root[tabsintitlebar] #nav-bar {
	background: var(--rouge-headerbar-background) !important;
	border: none !important;
	border-bottom: 1px solid var(--rouge-headerbar-border-color) !important;
	box-shadow: var(--rouge-headerbar-box-shadow) !important;
}
:root[tabsintitlebar] #nav-bar:-moz-window-inactive {
	background: var(--rouge-inactive-headerbar-background) !important;
	border-bottom-color: var(--rouge-inactive-headerbar-border-color) !important;
	box-shadow: var(--rouge-inactive-headerbar-box-shadow) !important;
}
